<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dogs</title>
</head>
<body>
    <%- include('./includes/nav.ejs', {token : token}) %>
    <header>
        <h1>Dogs</h1>
     </header>  
        
        <% dogs.forEach((dog) => { %>
            <div class="dog"> 
                <div class="img">
                    <img src="<%= dog.img %>" alt="<%= dog.name %>">
                </div>               
                <h2><%= dog.name %></h2>
                <p><%= dog.breed %></p>
                <p><%= dog.age %> years old</p>
                

                <button>
                    <a href="/api/dogs/<%= dog.id %>">Show more Info</a>
                </button>
            </div>
            
       <%  }); %>
    
</body>
</html>